<ion-view style="" id="page8" title="Account Details" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <h2 style="color: rgb(0, 0, 0); text-align: center;" id="accountDetails-heading1">Barclays</h2>
        <button class="button button-balanced  button-block" style="border-radius:10px 10px 10px 10px;" id="accountDetails-button11">Total Balance: {{consolidatedAmount}}</button>
        <ion-slide-box style="height:50%;" class="tile tile-double">
            <ion-slide>
                <nvd3 options="specificBankAccountDataOptions" data="specificBankAccountData"></nvd3>
            </ion-slide>
            <ion-slide>
                <nvd3 options="accountTransactionOptions" data="accountTranData"></nvd3>
            </ion-slide>
            <ion-slide>
                <canvas id="line" class="chart chart-line" chart-data="specificAccountAvgMonthTranData" chart-labels="specificAccountAvgMonthTranLabel" chart-legend="allAccountAvgTranSeries" chart-series="allAccountAvgTranSeries" chart-options="{showTooltips: true}"></canvas>
            </ion-slide>
        </ion-slide-box>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <ion-list show-delete="false" can-swipe="true">
           <ion-item ng-repeat="i in accountTransactionsList">
                <button class="button button-energized button-inline card" ng-hide="i.tag == undefined" style="height:10px;border-radius:80px 80px 80px 80px;" id="account-button8">{{i.tag}}</button>
                <div class="input-label card" style="color: black; font-weight: 600; width:100%;">
                    Description: {{i.detailsDescription}}<br>Amount : {{i.detailsValue}}<br>Date: {{i.postedDate | date : "dd/MM/y"}}                    
                </div>
                <button class="button button-balanced card" ng-hide="i.tag != undefined" style="height:10px;border-radius:80px 80px 80px 80px;" id="account-button8">?</button>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(i)"></ion-delete-button>
           </ion-item>
        </ion-list>
    </ion-content>
</ion-view>