<ion-view style="" id="page8" title="Account Details" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <a class="button button-stable button-small icon ion-ios-arrow-back" id="accountDetails-button12" ui-sref="account"></a>
        <h2 style="color: rgb(0, 0, 0); text-align: center;" id="accountDetails-heading1">Barclays</h2>
        <button class="button button-balanced  button-block" style="border-radius:10px 10px 10px 10px;" id="accountDetails-button11">Total Balance: 3,50,000</button>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <div style="width: 283px; height: 18px;" class="spacer"></div>
        <ion-list id="accountDetails-list5">
            <ion-item style="" id="accountDetails-list-item13" class="item-icon-left">
                <i class="icon ion-ionic"></i>Tag</ion-item>
        </ion-list>
    </ion-content>
</ion-view>