
    <div>
      <div>
        <label class="item item-input card" id="dashboard-input10" style="border-radius:10px 10px 10px 10px;width:90%;">
          <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Tag Name</span>
          <input type="text" placeholder="" maxlength="15" ng-model="data.tagName">
        </label>
        <div class="spacer " style="width: 100%;"></div>
        <div class="col">
          <button class="button button-energized button-small button-inline" style="border: 0.5px solid;margin:2px 2px 2px 2px;" id="vADD-button1"> {{consolidatedTags[0]}}</button>
          <button class="button button-assertive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[1]}}</button>
          <button class="button button-positive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[2]}}</button>
          <button class="button button-dark button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[3]}}</button>
          <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[4]}}</button>
            <button class="button button-energized button-small button-inline" style="border: 0.5px solid;margin:2px 2px 2px 2px;" id="vADD-button1"> {{consolidatedTags[5]}}</button>
            <button class="button button-assertive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[6]}}</button>
            <button class="button button-positive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[7]}}</button>
            <button class="button button-dark button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[8]}}</button>
            <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[9]}}</button>
            <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[10]}}</button>
            <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[11]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[12] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[12]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[13] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[13]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[14] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[14]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[15] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[15]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[16] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[16]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[17] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[17]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[18] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[18]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[19] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[19]}}</button>
            <button class="button button-balanced button-small button-inline" ng-hide="consolidatedTags[20] == undefined" style="border: 0.5px solid;" id="vADD-button1">{{consolidatedTags[20]}}</button>
        </div>
      </div>
    </div>
