<ion-view style="" id="page11" title="Create Voucher" hide-nav-bar="true">
    <ion-content scroll="false">
        <h1 style="color:white;">Create Voucher</h1>
        <!-- <a class="button button-stable button-small icon ion-ios-arrow-back" id="createVoucher-button29" ui-sref="menu.tiles"></a> -->
        <form class="list" id="createVoucher-form5">
            <label id="createVoucher-input11" class="item item-input">
                <span class="input-label">Amount</span>
                <input placeholder="Amount" type="number" ng-model="amount">
            </label>
            <label id="accountLabelId" class="item item-input">
                <span class="input-label">Account Number</span>
                <input placeholder="Account" type="number" ng-model="accountNumber">
            </label>
            <label id="descriptionLabelId" class="item item-input">
                <span class="input-label">Description</span>
                <input placeholder="description" type="text" ng-model="description">
            </label>
        </form>
        <button class="button button-positive  button-block" id="createVoucher-button30" ng-click="createVoucher()">Create</button>
        <br/>

        <div class="vCard effect8" ng-show="showVoucher">
            <div class="vvCard">
                <div class="labelCashew"><h4 style="color:white;">CASHEW</h4></div>    
                <div class="vbg">    
                    <br/>
                    <div class="container_scratch test" id="js-container" >        
                        <canvas class="canvas" id="js-canvas" width="195" height="45"></canvas>
                        <!-- <h4><code><b>{{voucherDetails.data.response.code}}</b></code></h4> -->
                        <h5><code><b>cashew-5322143</b></code></h5>
                    </div>
                    <br/>
                    <div style="text-align:center;color:white;"><label>* Voucher is valid till 31st Dec, 2016</label></div>
                </div>
                
            </div>
        </div>
    <button class="button button-positive  button-block button-clear" id="createVoucher-button31" ng-click="shareVoucher()" ng-show="showVoucher">Share Voucher</button>
    </ion-content>
</ion-view>       
