<ion-view style="" id="page13" title="Reminders">
    <ion-content class="has-header" padding="true">
        <a class="button button-stable button-small icon ion-ios-arrow-back" id="reminders-button35" ui-sref="menu.tiles"></a>
        <form class="list" id="reminders-form7">
            <label id="reminders-input15" class="item item-input item-stacked-label">
                <span class="input-label">Task</span>
                <input placeholder="Task" type="text">
            </label>
            <label id="reminders-input16" class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input placeholder="Date" type="date">
            </label>
            <label id="reminders-input17" class="item item-input item-stacked-label">
                <span class="input-label">Time</span>
                <input placeholder="Time" type="time">
            </label>
        </form>
        <button class="button button-positive  button-block" id="reminders-button36">Set</button>
    </ion-content>
</ion-view>