<ion-view style="" id="page11" title="Create Voucher">
    <ion-content class="has-header" padding="true">
        <a class="button button-stable button-small icon ion-ios-arrow-back" id="createVoucher-button29" ui-sref="menu.tiles"></a>
        <form class="list" id="createVoucher-form5">
            <label id="createVoucher-input11" class="item item-input item-floating-label">
                <span class="input-label">Amount</span>
                <input placeholder="Amount" type="number">
            </label>
            <label id="createVoucher-select1" class="item item-select">
                <span class="input-label">Account</span>
                <select>
                    <option>Barclays</option>
                    <option>HDFC</option>
                </select>
            </label>
        </form>
        <button class="button button-positive  button-block" id="createVoucher-button30">Create</button>
        <button class="button button-positive  button-block button-clear" id="createVoucher-button31">Share Voucher</button>
    </ion-content>
</ion-view>