
    <div>
      <div>
        <label class="item item-input card" id="dashboard-input10" style="border-radius:10px 10px 10px 10px;width:90%;">
          <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Tag Name</span>
          <input type="text" placeholder="" maxlength="15" ng-model="data.tagName">
        </label>
        <div class="spacer " style="width: 100%;"></div>
        <div class="col">
          <button class="button button-energized button-small button-inline" style="border: 0.5px solid;margin:2px 2px 2px 2px;" id="vADD-button1"> {{tagsAll[0]}}</button>
          <button class="button button-assertive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[1]}}</button>
          <button class="button button-positive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[2]}}</button>
          <button class="button button-dark button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[3]}}</button>
          <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[4]}}</button>
            <button class="button button-energized button-small button-inline" style="border: 0.5px solid;margin:2px 2px 2px 2px;" id="vADD-button1"> {{tagsAll[5]}}</button>
            <button class="button button-assertive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[6]}}</button>
            <button class="button button-positive button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[7]}}</button>
            <button class="button button-dark button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[8]}}</button>
            <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;" id="vADD-button1">{{tagsAll[9]}}</button>
        </div>
      </div>
    </div>
