<ion-view style="" id="page14" hide-nav-bar="true">
    <ion-content>
    	<div style="text-align:center;"><br/>
    		<h1 style="color:white;">Credits</h1>
    	</div>
		<div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="javascript:void(0)" class="item item-avatar item-icon-right effect1" style="text-align:left;width:90%;margin:auto;">
                    <img src="img/tanmay.jpg" class="w3-animate-zoom">
                    <h2>Tanmay Ambre</h2>
                    <p>API Guru</p>
                </a>
                <br/>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right effect1" style="text-align:left;width:90%;margin:auto;">
                    <img src="img/nampreet.jpg" class="w3-animate-zoom">
                    <h2>Nampreet Pal Singh</h2>
                    <p>Integration Guru</p>
                </a><br/>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right effect1" style="text-align:left;width:90%;margin:auto;">
                    <img src="img/rashmi.jpg" class="w3-animate-zoom">
                    <h2>Rashmi Padale</h2>
                    <p>User Interface Don</p>
                </a><br/>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right effect1" style="text-align:left;width:90%;margin:auto;">
                    <img src="img/nisha.png" class="w3-animate-zoom">
                    <h2>Nisha Bhagdev</h2>
                    <p>API Don</p>
                </a><br/>
                <a href="javascript:void(0)" class="item item-avatar item-icon-right effect1" style="text-align:left;width:90%;margin:auto;">
                    <img src="img/girish.jpg" class="w3-animate-zoom">
                    <h2>Girish Fuluskar</h2>
                    <p>UI Guru</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>