<ion-view style="" id="page14" title="Insights" hide-nav-bar="true">
    <ion-content class="has-header" padding="true">
    	<div style="text-align:center;"><br/>
    		<h1 style="color:white;">Insights</h1>
    	</div>
        <!-- <ion-pane> -->
		    <swipe-cards>
		      <swipe-card on-card-swipe="cardSwiped()" id="start-card">
		        Swipe down for new Insights
		      </swipe-card>
		      <swipe-card class='effect1' ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
		        <div>
		          <div class="title" id='insightsTitle'>
		            {{card.title}}
		          </div>
		          <div class="image">
		            <img ng-src="{{card.image}}">
		          </div>
		          <div class="button-bar insightDesc">
		            <!-- <button class="button button-clear button-positive" ng-click="goAway()">Answer</button>
		            <button class="button button-clear button-positive" ng-click="goAway()">Decline</button> -->
		             {{card.desc}}
		          </div>
		        </div>
		      </swipe-card>
		    </swipe-cards>
		<!-- </ion-pane> -->
    </ion-content>
</ion-view>