<ion-view style="" id="page4" >
    <ion-content class="bg_login" padding="true">
        <img class="cashewLogo" src="img/cashews.png">
        <div class="cashewName">Cashew</div>
        <div class="bigDetails" style="color:white">Powered by <img src="img/big_logo1.png" style="width:50px;"></div>
        <div class="list" style="bottom:0">
            <form class="form-4" style="text-align:center;">
                <div class="">
                    <!-- <input type="submit" ui-sref="menu.tiles" value="Log In" class="login" /> ng-click="loginOAuth()" -->
                    <button class="depth" type="button" ui-sref="menu.tiles">&#10004;</button>
                </div>
                <br>
                <p style="text-align:center;">
                    <a href="#" ui-sref="menu.signup" >Register</a>
                </p>  
            </form>
        </div>
        <!-- <div class="row" style="position:; bottom:0px;color:white;background-color: transparent !important;">
          <img class="ibmLogo" src="/img/ibm-blue.png">&nbsp;&nbsp;IBM India Pvt Ltd
        </div> -->
        <div class="bigDetails" style="color:white; position:absolute; bottom:0px;"><img src="img/ibm-blue.png" class="ibmLogo" style="width:50px;"> &nbsp;IBM India Pvt Ltd </div>
    </ion-content>
</ion-view>