<ion-view style="" id="page4" >
    <ion-content class="bg_login" padding="true">
        <div class="cashewLogo"></div>
        <div class="bigDetails" style="color:white">Powered by <img src="img/big_logo1.png" style="width:50px;"></div>
        <div class="list" style="bottom:0">
            <form class="form-4" style="text-align:center;">
                <div class="">
                    <!-- <input type="submit" ui-sref="menu.tiles" value="Log In" class="login" /> ng-click="loginOAuth()" -->
                    <button class="depth" type="button" ui-sref="menu.tiles">&#10004;</button>
                </div>
                <br>
                <p style="text-align:center;">
                    <a href="#" ui-sref="menu.signup" >Register</a>
                </p>  
            </form>
        </div>
    </ion-content>
</ion-view>