<ion-view style="" id="page10" title="Move Money" hide-nav-bar="true" class='movemoneybg'>
    <ion-content>
        <div class="container" style="text-align:center;">
			<h1 style="color:white;">Move Money</h1>
			<div class="content">
				<div><img class="qrScan" src="img/qr_code.png"/></div>
				<div id="grid" class="grid clearfix">
					<!-- <div class="grid__item" ng-repeat='acc in allAccounts'><i class="fa fa-fw fa-image"></i>
						<label>{{acc.bankId}}</label><br/>
						<label>{{acc.balance.amount}}</label>
					</div> -->
				</div>
			</div><!-- /content -->
		</div><!-- /container -->
		<div id="drop-area" class="drop-area">
			<div id='container'>
				<!-- <div class="glass drop-area__item" ng-repeat='payee in payeeAccounts' data='{{payee.kind}}'>
					<label data='{{payee.party.bankId}}' ><b>{{payee.party.bankId}}</b></label>
					<label data='{{payee.party.accountId}}'><b>{{payee.party.accountId}}</b></label>
				<div class="water"></div><div class="dummy"></div></div> -->
				<div class="glass drop-area__item" ng-repeat='payee in payeeAccounts' >
					<label><b>{{payee.party.bankId}}</b></label>
				<div class="water"></div><div class="dummy"></div></div>
		</div>
		<div class="drop-overlay"></div>
		
    </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <div class="ion-modal-content-custom">
      <ion-content id='mmWallet'>

      	<form id="login" action="none">
		    <h1 id="ff-proof" class="ribbon">Move Money &nbsp;&nbsp;</h1>
		    <div class="apple">
		    	<div class="top"><span></span></div>
		    	<div class="butt"><span></span></div>
		    	<div class="bite"></div>
			</div>
		    <fieldset id="inputs">
		    	<div>From Account</div>

		    	<select id='from' class='selects'>
		    		<option ng-repeat='acc in allAccounts' ng-selected="fromAcc == acc.id"
                            ng-value="acc.id">
                     		{{acc.bankId}}:{{acc.id}} 
                    </option>                    
		    	</select>
		    	<div>To Account</div>
		    	<select id='to' class='selects'>
		    		<option ng-repeat='payee in payeeAccounts' ng-selected='toAccId == payee.party.accountId'
                            ng-value="payee.party.accountId">
                      		{{payee.party.bankId}}:{{payee.party.accountId}} 
                    </option>
		    	</select>
		    	<div>Amount</div>
		        <input id="amount" type="number" ng-model='makePaymentObj.value.amount' />
		        <div>Description</div>
		        <input id="desc" type="text" ng-model='makePaymentObj.description' />
		    </fieldset>
		    <fieldset id="actions">
		       <!--  <button class="button button-full button-positive" ng-click="closeModal()">Move</button> -->
		       <input type="button" id="submit" value="Move" ng-click='moveMoney()'>
		    </fieldset>
		</form>
        <!-- <button class="button button-full button-positive" ng-click="closeModal()">Move</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>