<ion-view style="" id="page10" title="Move Money" hide-nav-bar="true" class='movemoneybg'>
    <ion-content>
        <div class="container" style="text-align:center;">
			<h1 style="color:white;">Move Money</h1>
			<div class="content">
				<div><img class="qrScan" src="img/qr_code.png"/></div>
				<div id="grid" class="grid clearfix">
					<!-- <div class="grid__item" ng-repeat='acc in allAccounts'><i class="fa fa-fw fa-image"></i>
						<label>{{acc.bankId}}</label><br/>
						<label>{{acc.balance.amount}}</label>
					</div> -->
				</div>
			</div><!-- /content -->
		</div><!-- /container -->
		<div id="drop-area" class="drop-area">
			<div id='container'>
				<div class="glass drop-area__item" ng-repeat='payee in payeeAccounts'>
					<label>{{payee.source.bankId}}</label>
				<div class="water"></div><div class="dummy"></div></div>
		</div>
		<div class="drop-overlay"></div>
		
    </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <div class="ion-modal-content-custom">
      <ion-content id='mmWallet'>

      	<form id="login" action="none">
		    <h1 id="ff-proof" class="ribbon">Move Money &nbsp;&nbsp;</h1>
		    <div class="apple">
		    	<div class="top"><span></span></div>
		    	<div class="butt"><span></span></div>
		    	<div class="bite"></div>
			</div>
		    <fieldset id="inputs">
		    	<div>From Account</div>
		    	<select class='selects' ng-model='makePaymentObj.from.account_id'>
		    		<option ng-repeat='acc in allAccounts'
                            value="{{acc.bankId}}">
                      {{acc.username}}
                    </option>
		    	</select>
		    	<div>To Account</div>
		    	<select class='selects' ng-model='makePaymentObj.to.account_id'>
		    		<option ng-repeat='payee in payeeAccounts'
                            value="{{payee.party.accountId}}">
                      {{payee.party.name}}
                    </option>
		    	</select>
		    	<div>Amount</div>
		        <input id="amount" type="number" ng-model='makePaymentObj.value.amount' />
		        <div>Description</div>
		        <input id="desc" type="text" ng-model='makePaymentObj.description' />
		    </fieldset>
		    <fieldset id="actions">
		       <!--  <button class="button button-full button-positive" ng-click="closeModal()">Move</button> -->
		       <input type="button" id="submit" value="Move" ng-click='moveMoney()'>
		    </fieldset>
		</form>
        <!-- <button class="button button-full button-positive" ng-click="closeModal()">Move</button> -->
      </ion-content>
    </div>
  </ion-modal-view>
</script>