<ion-view style="" id="page12" title="Redeem Voucher" hide-nav-bar="true">
    <ion-content class="has-header" padding="true">
        <form id="login" action="none">
            <h1 id="ff-proof" class="ribbon">Redeem Voucher &nbsp;&nbsp;</h1>
            <div class="apple">
                <div class="top"><span></span></div>
                <div class="butt"><span></span></div>
                <div class="bite"></div>
            </div>
            <fieldset id="inputs">
                
                <div>Code</div>
                <input id="code" type="text" ng-model='voucherCode' />

                <div>To Account</div>
                <select id='toAccount' class='selects' >
                    <option ng-repeat='acc in allAccounts'
                            ng-value="acc.id">
                            {{acc.bankId}}:{{acc.id}} 
                    </option>                    
                </select>

                <div>Amount</div>
                <input id="amount" type="number" ng-model='amount' />
                
            </fieldset>
            <fieldset id="actions">
               <!--  <button class="button button-full button-positive" ng-click="closeModal()">Move</button> -->
               <input type="button" id="submit" value="Move" ng-click='redeemVoucher()'>
            </fieldset>
        </form>
        <!-- <form class="list" id="redeemVoucher-form6">
            <label id="redeemVoucher-input12" class="item item-input">
                <span class="input-label">Code</span>
                <input placeholder="Code" type="text" ng-model="voucherCode">
            </label>
            <label id="redeemVoucher-input13" class="item item-input">
                <span class="input-label">Apply To</span>
                <input placeholder="Account number" type="text" ng-model="toAccount">
            </label>
        </form>
        <button class="button button-positive  button-block" id="redeemVoucher-button33" ng-click="redeemVoucher()">Redeem Voucher</button> -->
    </ion-content>
</ion-view>