<ion-view style="" id="page12" title="Redeem Voucher">
    <ion-content class="has-header" padding="true">
        <a class="button button-stable button-small icon ion-ios-arrow-back" id="redeemVoucher-button32" ui-sref="menu.tiles"></a>
        <form class="list" id="redeemVoucher-form6">
            <label id="redeemVoucher-input12" class="item item-input item-floating-label">
                <span class="input-label">Code</span>
                <input placeholder="Code" type="number">
            </label>
            <label id="redeemVoucher-input13" class="item item-input">
                <span class="input-label">Apply To</span>
                <input placeholder="" type="text">
            </label>
            <label id="redeemVoucher-input14" class="item item-input">
                <span class="input-label">Send To</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <button class="button button-positive  button-block" id="redeemVoucher-button33">Redeem</button>
    </ion-content>
</ion-view>