<ion-view style="" id="page15" title="Smart Tools" hide-nav-bar="true">
    <ion-content class="has-header">
    	<div style="text-align:center;"><br/>
    		<h3 style="color:white;">How am I doing on my Goals!</h3>
    	</div>
    	<img src="img/add.png" class="addIcon">
        <div class="grid__item goalPanel" style='clear: both;'>
        	<label class="title" >{{ goalTitle }}</label>
        	<progress id="progressbar" max="100" value="{{ percentage }}"> </progress>
    		<div id="progressbarlabel">{{ percentage }} %</div>
        </div>
        <div id='goalStatusDiv'><label id='goalStatus'></label></div>
        <div id='leftWithMoneyDiv' style="color:white;"><label id='leftWithMoney'></label></div>
        <div id='suggestionDiv' style="color:white;"><label id='suggestion'></label></div>
        <div id='suggestionsDiv' style="color:white;"> <label id='suggestions'></label></div>
    </ion-content>
</ion-view>