<ion-view style="" id="page15" title="Smart Tools">
    <ion-content class="has-header" padding="true">
        <a class="button button-stable button-small icon ion-ios-arrow-back" id="smartTools-button38" ui-sref="menu.tiles"></a>
        <a class="button button-light button-small button-block icon-right ion-android-add-circle" id="smartTools-button39" ui-sref="menu.tiles"></a>
        <button class="button button-positive  button-block" id="smartTools-button40">Set Limit</button>
        <button class="button button-positive  button-block" id="smartTools-button41">Set Milestone</button>
    </ion-content>
</ion-view>