<ion-view style="" id="page9" title="Tags" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <a class="button button-stable button-small icon ion-ios-arrow-back" id="tags-button13" ui-sref="menu.tiles"></a>
        <form class="list" id="tags-form4">
            <ion-checkbox style="">Food</ion-checkbox>
            <ion-checkbox style="">Entertainment</ion-checkbox>
        </form>
        <button class="button button-positive  button-block" id="tags-button14">Add Tag</button>
    </ion-content>
</ion-view>