<ion-view style="" id="page9" title="Tags" hide-back-button="true">
    <ion-content class="has-header row" padding="true">
        <div class="col" id="addTagButton">            
        	<button class="button button-energized button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;margin:2px 2px 2px 2px;" id="vADD-button1"> {{tagsAll[0]}}</button>
        	<button class="button button-assertive button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[1]}}</button>
        	<button class="button button-positive button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[2]}}</button>
        	<button class="button button-dark button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[3]}}</button>
        	<button class="button button-balanced button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[4]}}</button>
            <button class="button button-energized button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;margin:2px 2px 2px 2px;" id="vADD-button1"> {{tagsAll[5]}}</button>
            <button class="button button-assertive button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[6]}}</button>
            <button class="button button-positive button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[7]}}</button>
            <button class="button button-dark button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[8]}}</button>
            <button class="button button-balanced button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px;" id="vADD-button1">{{tagsAll[9]}}</button>
            <button class="button button-stable button-small button-inline" style="border: 0.5px solid;height: 100px; width:100px;border-radius:150px 150px 150px 150px; font-size:25px;" id="vADD-button100" ng-click="addTagPopup()">+</button>
        </div>
    </ion-content>
</ion-view>