<ion-view style="" id="page1" title="Tiles">
    <ion-content class="has-header" padding="true">
        <a class="button button-positive  button-block" id="tiles-button16" ui-sref="account">1,50,000</a>
        <a class="button button-positive  button-block" id="tiles-button18" ui-sref="menu.redeemVoucher">+ Voucher</a>
        <a class="button button-positive  button-block" id="tiles-button19" ui-sref="menu.createVoucher">- Voucher</a>
        <a class="button button-positive  button-block" id="tiles-button20" ui-sref="menu.moveMoney">Move Money</a>
        <a class="button button-positive  button-block" id="tiles-button21" ui-sref="menu.insights">Insights</a>
        <a class="button button-positive  button-block" id="tiles-button22" ui-sref="menu.reminders">Reminders</a>
        <a class="button button-positive  button-block" id="tiles-button23" ui-sref="menu.smartTools">Goals</a>
        <a class="button button-positive  button-block" id="tiles-button17" ui-sref="menu.tags">Tags</a>
    </ion-content>
</ion-view>