<ion-view style="" id="page1">
    <ion-content>
        
        <div class="row">
          <div class="col">
            <div class="tile tile-double hovereffect" ui-sref="accountDetails">
              <nvd3 options="options" data="data"></nvd3>
              <!-- <div class="overlay">
                 <h2>Dashboard</h2>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="tile tile-icon hovereffect">
              <img src='img/createVoucher.png' class="iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.createVoucher">
                 <h2>Create Voucher</h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="tile tile-icon hovereffect">
              <!-- <i class="redeemVoucher img-responsive"></i> -->
              <img src='img/redeemVoucher.png' class="iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.redeemVoucher">
                 <h2>Redeem Voucher</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="tile tile-icon hovereffect">
              <!-- <i class="moveMoney img-responsive"></i> -->
              <img src='img/moveMoney.png' class="iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.moveMoney">
                 <h2>Move Money</h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="tile tile-icon hovereffect">
              <!-- <i class="insights img-responsive"></i> -->
              <img src='img/insights.png' class="insights iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.insights">
                 <h2>Insights</h2>
              </div>
            </div> 
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="tile tile-icon hovereffect">
              <!-- <i class="reminders img-responsive"></i> -->
              <img src='img/reminder2.png' class="reminders iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.reminders">
                 <h2>Reminders</h2>
              </div>
            </div>
          </div>
          <div class="col col-50">
            <div class="tile tile-icon hovereffect">
              <!-- <i class="goals img-responsive"></i> -->
              <img src='img/goals.png' class="iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.reminders">
                 <h2>Goals</h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="tile tile-icon hovereffect">
              <!-- <i class="tags img-responsive"></i> -->
              <img src='img/tags.png' class="tags iconWidth img-responsive"/>
              <div class="overlay" ui-sref="menu.tags">
                 <h2>Tags</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <marquee> <img class="m-logo-size" src="/img/barclays.png"> Barclays: Fluent in finance  <img class="m-logo-size" src="img/citi.png"> Citibank: Your Citi never sleeps  <img class="m-logo-size" src="/img/hsbc.png"> HSBC: The world’s local bank  <img class="m-logo-size" src="/img/Deutsche.png"> Deutsche Bank: A passion to Perform.  </marquee>
          </div>
        </div>

    </ion-content>
</ion-view>