/* Empty. Add your own CSS if you like */

@font-face{
  font-family:"Amarante" !important;
  src:url("http://www.myfontfree.com/data/126/a/amarante/Amarante-Regular.ttf") !important;
}

.scroll{
	height: 100%;
}
.bigDetails{
	color: white;
    width: 30%;
    margin: auto;
    text-align: center;
}
.movemoneybg{
	background-color: #2f3238;
}



.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height: 300px !important;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #333;
  border-radius: 10px; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }

<<<<<<< HEAD
    /*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.item-accordion a{
  border: 0px !important;
  width: 16px !important;
  float: right;
  padding-right: 20px;
}
.item-accordion a i{
  width: 16px;
}
=======
    .qrScan{
          width: 32px;
    float: right;
    margin-right: 8%;
    cursor: pointer;
    }
>>>>>>> 18e8a45d077255bfef66fe158f9d4fdb59ebb6c5
