/* Empty. Add your own CSS if you like */

@font-face{
  font-family:"Amarante" !important;
  src:url("http://www.myfontfree.com/data/126/a/amarante/Amarante-Regular.ttf") !important;
}

.scroll{
	height: 100%;
}
.bigDetails{
	color: white;
    width: 30%;
    margin: auto;
    text-align: center;
}
.movemoneybg{
	background-color: #2f3238;
}



.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height: 300px !important;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #333;
  border-radius: 10px; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }

    .qrScan{
          width: 32px;
    float: right;
    margin-right: 8%;
    cursor: pointer;
    }